.card {
    max-width: 1200px; /* Large card */
    width: 75%; /* Scales dynamically */
    padding: 2rem; /* Extra spacing */
}
.container {
    margin-top: 4rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end; /* Aligns card to the right */
    padding-right: 2rem; /* Leaves space for the navbar */
    margin-bottom: -2rem; /* Reduced bottom margin */
}
.hello-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh; /* Reduced height of the flex container */
    width: 75%;
    margin-top: 4rem;
    margin-bottom: -8rem; /* Reduced gap between hello message and the card */
    /*padding-right: 0;*/ /* Leaves space for the navbar */
}
.hello-message {
    font-size: calc(3.5vw); /* Dynamic font size based on the viewport width */
    font-weight: bold;
    text-align: center;
    width: 100%;
    white-space: nowrap; /* Prevent the text from wrapping */
}
.edit-form {
    display: none;
}